<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
	<title>米乐宠物商城</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/css/main.css}">

	<!-- jQuery文件.务必在bootstrap.min.js 之前引入 -->
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

	<style>
		.carousel-inner .item img {
			width: 100%;
			 }/* or width: 100% !important; */
		.myfoot{
                margin-left: 10%;
                 width: 80%;
                 height: 70px;
                 position: absolute;
                 bottom:0;
                 left: 0;
          }
          .navbar-text{
            margin-left: 3px;
            margin-right: 3px;
            margin-top: 12px;
          }
          .glyphicon glyphicon-arrow-down{
                color: #d2dbe1;
          }
           btn-default{

           }

	</style>
</head>
<body th:style="'background:url('+ '/petstore/assets/global/img/bg.jpg'+ ');'">
<div class="storeheader">
	<nav class="navbar navbar-default" >
	<div class="container-fluid" >
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown" >
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span th:text="${session.LOGIN_USER.getName()}"/> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="/petstore/user/modifyPassword">修改密码</a></li>
					<li><a href="/petstore/user/address">修改密码</a></li>
				</ul>
			</li>
			<li><a th:href="@{/cart/myCart(userId=${session.LOGIN_USER.getId()})}"><span class="glyphicon glyphicon-shopping-cart"></span>我的购物车</a></li>
			<li><a th:href="@{/hello}"><span class="glyphicon glyphicon-log-out"></span>退出</a></li>
		</ul>
		<div class="navbar-header" style="margin-left: 10%;margin-right: 10%" >
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" th:href="@{/item/list}">米乐宠物商城</a>
			<img th:src="@{/assets/global/img/logo.jpg}"  width="70" height="50">
		</div>
		<div class="collapse navbar-collapse" id="myNavbar" >
			<ul class="nav navbar-nav">
				<li class="dropdown" >
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						狗狗 <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a th:href="@{/item/listByCategory(category=1)}">狗粮</a></li>
						<li class="divider"></li>
						<li><a th:href="@{/item/listByCategory(category=2)}">狗狗玩具</a></li>
						<li class="divider"></li>
						<li><a th:href="@{/item/listByCategory(category=3)}">出行装备</a></li>
					</ul>
				</li>
				<li class="dropdown" >
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						猫咪 <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a th:href="@{/item/listByCategory(category=4)}">猫粮</a></li>
						<li class="divider"></li>
						<li><a th:href="@{/item/listByCategory(category=5)}">猫猫玩具</a></li>
						<li class="divider"></li>
						<li><a th:href="@{/item/listByCategory(category=6)}">出行装备</a></li>
					</ul>
				</li>
				<form class="navbar-form navbar-right" action="selectByKey"  role="search">
				<div class="form-group">
				<input type="text" class="form-control" placeholder="Search" name="key">
				</div>
				<button type="submit" id="search" class="btn btn-default">搜索</button>
				</form>
			</ul>
		</div>
	</div>
</nav>
</div>
<div class="storecontent">
<nav class="navbar navbar-default" role="navigation" style="background-color: #ffffff">
    <div class="container-fluid">
    <div>
        <!--向左对齐-->

        <!--向右对齐-->
        <ul class="nav navbar-nav navbar-left">
           <p class="navbar-text ">管理我的地址</p>

        </ul>
        <ul class="nav navbar-nav navbar-right">

        </ul>
    </div>
    </div>
</nav>

	<div class="contentfooter">
	<div class="panel panel-default" style="width: 100%">
		<div class="panel-body">
		<table class="table table-hover">
			<tr>
				<th>收获人</th>
				<th>地址</th>
				<th>电话</th>
			</tr>
			<tr  th:each="myaddress:${session.address}">
				<td th:text="${myaddress.receiverName}"></td>
				<td th:text="${myaddress.receiverProvince}+${myaddress.receiverCity}+${myaddress.receiverDistrict}+${myaddress.receiverAddress}"+ /></td>
				<td th:text="${myaddress.receiverPhone}"></td>
                <td><a th:href="@{/user/editAddress(id=${myaddress.id})}"> <button type="button" class="btn btn-info" />编辑</a></td>
			    <td><a th:href="@{/user/deleteAddress(id=${myaddress.id})}"><button type="button" class="btn btn-warning" id="deleteAddress" />删除</a></td>
			</tr>
		</table>
		 <a th:href="@{/user/addAddress}" ><span class="glyphicon glyphicon-plus">新增地址</span></a>

	</div>
</div>
	</div>
</div>
</body>
</html>
