<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="utf-8"/>
<title>首页</title>
<meta name="keywords"  content="DeathGhost" />
<meta name="description" content="DeathGhost" />
<meta name="author" content="DeathGhost,deathghost@deathghost.cn">
<link rel="icon" th:href="@{/images/icon/favicon.ico}" type="image/x-icon">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" /><script th:src="@{/js/html5.js}"></script>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/swiper.min.js}"></script>
<script>
$(document).ready(function(){
	//焦点图
	var mySwiper = new Swiper('#slide',{
		  autoplay:5000,
		  visibilityFullFit : true,
		  loop:true,
		  pagination : '.pagination',
	  });
})
</script>
</head>
<body>
<!--advertisment<div class="wrap"><img src="upload/banner.jpg"/></div>-->
<!--header-->
<header>
  <!--topNavBg-->
  <div class="topNavBg">
   <div class="wrap">
   <!--topRightNav-->
    <ul class="topRtNav">
     <li><a th:href="@{/user/user}">个人中心</a></li>
     <li><a th:href="@{/cart/myCart(userId=${session.LOGIN_USER.getId()})}" class="cartIcon">购物车<i>0</i></a></li>
    </ul>
   </div>
  </div>
  <!--logoArea-->
  <div class="wrap logoSearch">
   <!--logo-->
   <div class="logo">
    <h1><img th:src="@{/images/logo.png}"/></h1>
   </div>
   <!--search-->
   <div class="search">
    <ul class="switchNav">
     <li class="active" id="chanpin">产品</li>
     <li id="shangjia">商家</li>
     <li id="zixun">搭配</li>
     <li id="wenku">文库</li>
    </ul>
    <div class="searchBox">
     <form action="selectByKey">
      <div class="inputWrap">
      <input type="text" placeholder="输入产品关键词" id="key" name="key"/>
      </div>
      <div class="btnWrap">
      <input type="submit" value="搜索"/>
      </div>
     </form>
    </div>
   </div>
  </div>
  <!--nav-->
  <nav>
<ul class="wrap navList">
<li class="category">
<a>全部产品分类</a>
<dl class="asideNav indexAsideNav">
<dt><a th:href="@{/item/selectByPetCategory(category=0)}">狗狗</a></dt>
<dd>
<a th:href="@{/item/listByCategory(category=1)}">主粮零食</a>
<a th:href="@{/item/listByCategory(category=2)}">狗狗玩具</a>
<a th:href="@{/item/listByCategory(category=3)}">出行装备</a>
<a th:href="@{/item/listByCategory(category=4)}">医疗用品</a>
<a th:href="@{/item/listByCategory(category=5)}">狗狗清洁</a>

</dd>
<dt><a th:href="@{/item/selectByPetCategory(category=1)}">猫猫</a></dt>
<dd>
<a th:href="@{/item/listByCategory(category=6)}">主粮零食</a>
<a th:href="@{/item/listByCategory(category=7)}">狗狗玩具</a>
<a th:href="@{/item/listByCategory(category=8)}">出行装备</a>
<a th:href="@{/item/listByCategory(category=9)}">医疗用品</a>
<a th:href="@{/item/listByCategory(category=10)}">猫猫清洁</a>
</dd>
</dl>
</li>
<li>
<a th:href="@{/item/list}">主页</a>
</li>
<li>
<a href="#">促销专区</a>
</li>
<li>
<a href="#">秒杀专场</a>
</li>
<li>
<a href="#">其他</a>
</li>
</ul>
</nav>

 </header>
 <script>
 $(document).ready(function(){
   //测试效果，程序对接如需变动重新编辑
   $(".switchNav li").click(function(){
     $(this).addClass("active").siblings().removeClass("active");
     });
   $("#chanpin").click(function(){
     $(".inputWrap input[type='text']").attr("placeholder","输入产品关键词或货号");
     });
   $("#shangjia").click(function(){
     $(".inputWrap input[type='text']").attr("placeholder","输入商家店铺名");
     });
   $("#zixun").click(function(){
     $(".inputWrap input[type='text']").attr("placeholder","输入关键词查找文章内容");
     });
   $("#wenku").click(function(){
     $(".inputWrap input[type='text']").attr("placeholder","输入关键词查找文库内容");
     });
   });
   
 </script>
 
<!--advertisment area-->
<section class="wrap">
 <!--ctCont-->
 <div class="IdxmainArea">
    <!--slide-->
    <div id="slide">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
         <a href="#">
          <img th:src="@{/upload/banner-1.jpg}"/>
         </a>
        </div>
        <div class="swiper-slide">
         <a href="#">
          <img th:src="@{/upload/banner-2.jpg}"/>
         </a>
        </div>
      </div>
      <div class="pagination"></div>  
    </div>
    <!--singleAd-->
    <div class="singleAd">
     <a href="#">
      <img th:src="@{/upload/cart-1.jpg}"/>
     </a>
    </div>
     <!--bestShop-->
    <dl class="bestShop">
     <dt>
      <strong>热销商品</strong>
      <a href="shop_list.html" class="fr">更多</a>
     </dt>
     <div  th:each="itemDO:${session.itemBySales}">
     <dd>
       <a th:href="@{/item/get(id=${itemDO.id})}">
       <img th:src="@{${itemDO.imgUrl}}"/>
       <h2><span th:text="${itemDO.title}"/></h2>
      </a>
     </dd>
    </div>

    </dl>

 </div>
 <!--asdCont-->
 <div class="IdxAsideRt">
  <!--login-->
  <div class="idxRtLogin">
   <div class="fstArea">
     <a href="#" class="userIcon">
      <img th:src="@{/upload/head.jpg}">
     </a>
     <div class="rtInfor">
      <p><span th:text="${session.LOGIN_USER.name}"></span> </p>
      <p class="obviousText">欢迎！</p>
     </div>
    </div>
   </div>
   <dl class="idxRtAtc">
    <dt>
     <em class="obviousText">最新公告</em>
     <a href="article_list.html">more</a>
    </dt>
    <dd><a href="article_read.html">2015年12月20日系统升级通告统升级通告</a></dd>
    <dd><a href="article_read.html">2015年12月20日系统升级通告</a></dd>
    <dd><a href="article_read.html">2015年12月20日系统升级通告</a></dd>
    <dd><a href="article_read.html">2015年12月20日系统升级通告</a></dd>
    <dd><a href="article_read.html">2015年12月20日系统升级通告</a></dd>
   </dl>
   <dl class="idxRtAtc">
    <dt>
     <em>最新公告</em>
     <a href="article_list.html">more</a>
    </dt>
    <dd><a href="article_read.html">2015年12月20日系统升级通告统升级通告</a></dd>
    <dd><a href="article_read.html">2015年12月20日系统升级通告</a></dd>
   </dl>
  </div>
</section>
<!--productList-->

<section class="wrap idexCase">
 <h2>
  <strong>猫猫用品</strong>
  <a th:href="@{/item/selectByPetCategory(category=1)}">more</a>
 </h2>
 <ul>
   <div  th:each="itemDO:${catPage.list}">
  <li>
   <a th:href="@{/item/get(id=${itemDO.id})}">
    <img th:src="@{${itemDO.imgUrl}}"/>
    <h3><span  th:text="${itemDO.title}"/></h3>
      <p><span th:text="${itemDO.price}"/>
                <span>￥</span>
      </p>
   </a>
  </li>
  </div>
 </ul>
</section>

<section class="wrap idexCase">
 <h2>
  <strong>狗狗用品</strong>
  <a th:href="@{/item/selectByPetCategory(category=0)}">more</a>
 </h2>
 <ul>
   <div  th:each="itemDO:${dogPage.list}">
  <li>
     <a th:href="@{/item/get(id=${itemDO.id})}">
    <img th:src="@{${itemDO.imgUrl}}"/>
    <h3><span  th:text="${itemDO.title}"/></h3>
     <p>
            <span th:text="${itemDO.price}"/>
            <span>￥</span>
     </p>
   </a>
  </li>
  </div>
 </ul>
</section>
<!--section:two->articleList-->
<section class="wrap idxArticle">
  <dl>
   <dt>
    <strong>招标资讯</strong>
    <a href="article_list.html">more</a>
   </dt>
   <dd><a href="article_read.html">内蒙古君联生物发展有限公司阿巴嘎旗流化床锅炉除尘及链条炉排炉内脱硫设施采购项目公开招标招标公告</a></dd>
   <dd><a href="article_read.html">四川省老年大学教学用具及设备采购二标段公开招标采购公告</a></dd>
   <dd><a href="article_read.html">慢道峰山桥至仙境源风机路、曲径通幽至老虎洞至孙家至王沟服务区亮化工程公开招标公告</a></dd>
   <dd><a href="article_read.html">四川省资阳市安岳县民政局第二次全国地名普查外包服务采购项目公开招标采购公告</a></dd>
   <dd><a href="article_read.html">内蒙古君联生物发展有限公司阿巴嘎旗流化床锅炉除尘及链条炉排炉内脱硫设施采购项目公开招标招标公告</a></dd>
  </dl>
  <dl style="margin:0 2.5%">
   <dt>
    <strong>最新询价信息</strong>
    <a href="article_list.html">more</a>
   </dt>
   <dd><a href="article_read.html">内蒙古君联生物发展有限公司阿巴嘎旗流化床锅炉除尘及链条炉排炉内脱硫设施采购项目公开招标招标公告</a></dd>
   <dd><a href="article_read.html">四川省老年大学教学用具及设备采购二标段公开招标采购公告</a></dd>
   <dd><a href="article_read.html">慢道峰山桥至仙境源风机路、曲径通幽至老虎洞至孙家至王沟服务区亮化工程公开招标公告</a></dd>
   <dd><a href="article_read.html">四川省资阳市安岳县民政局第二次全国地名普查外包服务采购项目公开招标采购公告</a></dd>
   <dd><a href="article_read.html">内蒙古君联生物发展有限公司阿巴嘎旗流化床锅炉除尘及链条炉排炉内脱硫设施采购项目公开招标招标公告</a></dd>
  </dl>
  <dl>
   <dt>
    <strong>行业资讯</strong>
    <a href="article_list.html">more</a>
   </dt>
   <dd><a href="article_read.html">内蒙古君联生物发展有限公司阿巴嘎旗流化床锅炉除尘及链条炉排炉内脱硫设施采购项目公开招标招标公告</a></dd>
   <dd><a href="article_read.html">四川省老年大学教学用具及设备采购二标段公开招标采购公告</a></dd>
   <dd><a href="article_read.html">慢道峰山桥至仙境源风机路、曲径通幽至老虎洞至孙家至王沟服务区亮化工程公开招标公告</a></dd>
   <dd><a href="article_read.html">四川省资阳市安岳县民政局第二次全国地名普查外包服务采购项目公开招标采购公告</a></dd>
   <dd><a href="article_read.html">内蒙古君联生物发展有限公司阿巴嘎旗流化床锅炉除尘及链条炉排炉内脱硫设施采购项目公开招标招标公告</a></dd>
  </dl>
 </section>
<!--footer-->
<footer>
 <!--help-->
 <ul class="wrap help">
  <li>
   <dl>
    <dt>消费者保障</dt>
    <dd><a href="article_read.html">保障范围</a></dd>
    <dd><a href="article_read.html">退换货流程</a></dd>
    <dd><a href="article_read.html">服务中心</a></dd>
    <dd><a href="article_read.html">更多服务特色</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>新手上路</dt>
    <dd><a href="article_read.html">保障范围</a></dd>
    <dd><a href="article_read.html">退换货流程</a></dd>
    <dd><a href="article_read.html">服务中心</a></dd>
    <dd><a href="article_read.html">更多服务特色</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>付款方式</dt>
    <dd><a href="article_read.html">保障范围</a></dd>
    <dd><a href="article_read.html">退换货流程</a></dd>
    <dd><a href="article_read.html">服务中心</a></dd>
    <dd><a href="article_read.html">更多服务特色</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>服务保障</dt>
    <dd><a href="article_read.html">保障范围</a></dd>
    <dd><a href="article_read.html">退换货流程</a></dd>
    <dd><a href="article_read.html">服务中心</a></dd>
    <dd><a href="article_read.html">更多服务特色</a></dd>
   </dl>
  </li>
 </ul>
 <dl class="wrap otherLink">
  <dt>友情链接</dt>
  <dd><a href="http://www.17sucai.com" target="_blank">17素材</a></dd>
  <dd><a href="http://www.17sucai.com/pins/24448.html">HTML5模块化后台管理模板</a></dd>
  <dd><a href="http://www.17sucai.com/pins/15966.html">绿色清爽后台管理系统模板</a></dd>
  <dd><a href="http://www.17sucai.com/pins/14931.html">黑色的cms商城网站后台管理模板</a></dd>
  <dd><a href="http://www.deathghost.cn" target="_blank">前端博客</a></dd>
  <dd><a href="http://www.deathghost.cn" target="_blank">博客</a></dd>
  <dd><a href="http://www.deathghost.cn" target="_blank">新码笔记</a></dd>
  <dd><a href="http://www.deathghost.cn" target="_blank">DethGhost</a></dd>
  <dd><a href="#">当当</a></dd>
  <dd><a href="#">优酷</a></dd>
  <dd><a href="#">土豆</a></dd>
  <dd><a href="#">新浪</a></dd>
  <dd><a href="#">钉钉</a></dd>
  <dd><a href="#">支付宝</a></dd>
 </dl>
 <div class="wrap btmInfor">
  <p>© 2013 DeathGhost.cn 版权所有 网络文化经营许可证：浙网文[2013]***-027号 增值电信业务经营许可证：浙B2-200***24-1 信息网络传播视听节目许可证：1109***4号</p>
  <address>联系地址：陕西省西安市雁塔区XXX号</address>
 </div>
</footer>
</body>
</html>
