<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>item-website2</title>
	<link rel="stylesheet" type="text/css" th:href="@{/styles/reset.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}">

    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/js/DD_belatedPNG_0.0.8a-min.js}"></script>
	<script type="text/javascript" th:src="@{/js/ie6Fixpng.js}"></script>
		<style>
    		.gw_num{border: 1px solid #dbdbdb;width: 110px;line-height: 26px;overflow: hidden;}
    		.gw_num em{display: block;height: 26px;width: 26px;float: left;color: #7A7979;border-right: 1px solid #dbdbdb;text-align: center;cursor: pointer;}
    		.gw_num .num{display: block;float: left;text-align: center;width: 52px;font-style: normal;font-size: 14px;line-height: 24px;border: 0;}
    		.gw_num em.add{float: right;border-right: 0;border-left: 1px solid #dbdbdb;}
    	</style>
</head>
<body class="grey">
	<div class="headerBar">
		<div class="top">
			<div class="commonWidth">
				<div class="right-area">
					欢迎来到米乐购物商场！
					<a href="#">[登录]</a>
					<a href="#">[免费注册]</a>
				</div><!-- right-area结束 -->
			</div><!-- commonWidth结束 -->
		</div><!-- top结束 -->
		<div class="logo">
			<div class="commonWidth">
				<div class="logo-search fl">
					<input type="text" class="logo-search-text fl" />
					<input type="button" class="logo-search-button fr" value="搜 索" />
				</div><!-- logo-search结束 -->
				<div class="logo-shop fr">
					<span class="logo-shop-text fl">购物车</span>
					<span class="logo-shop-num fr">0</span>
				</div><!-- logo-shop结束 -->
			</div><!-- commonWidth结束 -->
		</div><!-- logo结束 -->
		<div class="nav">
			<div class="commonWidth">
				<div class="nav-class fl">
					<h3>全部商品分类<i></i></h3>
				</div><!-- nav-class结束 -->
				<ul class="nav-bar fl">
					<li><a href="#" class="active">数码城</a></li>
					<li><a href="#">天黑黑</a></li>
					<li><a href="#">团购</a></li>
					<li><a href="#">发现</a></li>
					<li><a href="#">二手特卖</a></li>
					<li><a href="#">名品会</a></li>
				</ul><!-- nav-bar结束 -->
			</div><!-- commonWidth结束 -->
		</div><!-- nav结束 -->
	</div><!-- headerBar结束 -->
	<div class="items-addr commonWidth">
		<strong><a href="#">首页</a></strong>
		<span>&nbsp;&gt;&nbsp;</span>
		<a href=""><span th:text="${itemVO.title}"/></a>
	</div><!-- item-addr结束 -->
	<div class="item-description commonWidth">
		<div class="item-description-info clearfix">
			<div class="left-area">
				<div class="item-description-img">
					<div class="item-description-img-big">
						<img th:src="@{${itemVO.imgUrl}}" alt="" />
					</div>
				</div><!-- item-description-img结束 -->
			</div><!-- left-area结束 -->
			<div class="right-area">
				<div class="item-description-content">
					<h3 class="item-description-title"><span th:text="${itemVO.description}"/></h3>
					<div class="dl clearfix">
						<div class="dt">米乐价</div>
						<div class="dd"><span class="item-des-money"><em>¥<span th:text="${itemVO.price}"/></em></span></div>
					</div><!-- dl结束1 -->
					<div class="dl clearfix">
						<div class="dt">优惠</div>
						<div class="dd"><span class="item-des-hg"><i class="hg-icon">满换购</i><em>满200送20代金卷</em></span></div>
					</div><!-- dl结束2 -->
					<div class="dl clearfix">
                    	<div class="dt">商品id：<span th:text="${itemVO.id}" id="id"/></div>
                    </div>
					<div class="item-description-addr">
						<div class="dl clearfix">
							<div class="dt select-num-height">数量</div>
							<div class="dd clearfix">
                                    	<div class="gw_num" style="margin-top: 20px;margin-left: 10px">
                                    		    <em class="jian">-</em>
                                    				<input type="text" value="1" class="num" id="amount"/>
                                    			<em class="add">+</em>
                                    		</div>
								<span class="item-des-addr-xg" style="margin-left: 150px;margin-top: -30px">限购<em>10</em>件</span>
							</div>
						</div><!-- dl结束6 -->
					</div><!-- item-description-addr结束 -->
					<div class="item-selected">
						已选择 <span th:text="${itemVO.title}"/>
					</div>
					<div class="item-opreate-area clearfix">
						<a href="#" class="item-shopCar" id="addItemtoCart"></a>
						<span class="item-line"></span>
						<a href="#" class="item-buy"></a>
					</div><!-- item-opreate-area结束 -->
					<span class="item-fp">注意：此商品可提供普通发票，不提供增值税发票。</span>
				</div><!-- item-description-content结束 -->
			</div><!-- right-area结束 -->
		</div><!-- item-description-info结束 -->
	</div><!-- item-desciption结束 -->
	<div style="height:15px"></div>
	<div style="height:25px"></div><!-- 这个div是为了撑开高度的，没有什么语意，不好！ -->
	<div class="footer">
		<P>
			<a href="#">慕课简介</a><i>|</i>
			<a href="#">慕课公告</a><i>|</i>
			<a href="#">招纳贤士</a><i>|</i>
			<a href="#">联系我们</a><i>|</i>客服热线：400-675-1234
		</P>
		<p>Copyright © 2006 - 2014 慕课版权所有&nbsp;&nbsp;&nbsp;京ICP备09037834号&nbsp;&nbsp;&nbsp;京ICP证B1034-8373&nbsp;&nbsp;&nbsp;某市某公安局备案编号：12390932</p>
		<p class="footer-logo">
			<a href="#"><img th:src="@{/images/footer-logo.png}" alt="logo" /></a>
			<a href="#"><img th:src="@{/images/footer-logo.png}" alt="logo" /></a>
			<a href="#"><img th:src="@{/images/footer-logo.png}" alt="logo" /></a>
			<a href="#"><img th:src="@{/images/footer-logo.png}" alt="logo" /></a>
		</p>
	</div><!-- footer结束 -->
</body>
<script>

    var id = document.getElementById("id").innerText;
    console.log(id);
    jQuery(document).ready(function(){
            //加的效果
            $(".add").click(function(){
                var n=$(this).prev().val();
                var num=parseInt(n)+1;
                if(num==0){ return;}
                $(this).prev().val(num);
            });
            //减的效果
            $(".jian").click(function(){
                var n=$(this).next().val();
                var num=parseInt(n)-1;
                if(num==0){ return}
                $(this).next().val(num);
            });

			loadPrograme();


        //添加商品至购物车
        $("#addItemtoCart").on("click",function()
        {
            var amount = document.getElementById("amount").value;
            console.log(amount);
            $.ajax({
                type:"POST",
                contentType:"application/x-www-form-urlencoded",
                url:"http://localhost:8090/petstore/cart/addItemToCart",
                data:{
                    "itemId":id,
                    "amount":amount,
                },
                xhrFields:{withCredentials:true},
                success:function(data){
                    if(data.status == "success"){
                        alert("已添加入购物车");
                        window.location.reload();
                    }else{
                        alert("添加购物车失败"+data.data.errMsg);
                        if(data.data.errCode == 20003){
                            window.location.reload();
                        }
                    }
                },
                error:function(data){
                    alert("添加购物车失败"+data.responseTex);
                }
            });
            return false;
        });
    });
    function loadPrograme(){
        $.ajax({
            url : 'http://localhost:8090/petstore/address/myAddress',
            type : 'GET',
            contentType:"application/x-www-form-urlencoded",
            xhrFields:{withCredentials:true},
            success : function(data) {
                if(data){
                    var expressCompany = $("#programme_view");
                    expressCompany.empty();
                    for(var i=0,len=data.data.length;i<len;i++){
                        var programme = data.data[i];
                        console.log(programme['receiverZip']);
                        expressCompany.append(
                            "<option value=" + programme['receiverProvince'] + ">" + programme['receiverCity']
								+ programme['receiverDistrict'] + programme['receiverAddress']
                            + "</option>");
                    }
                }
            },
            error : function() {
                alert('查询节目异常');
            }
        });
    }
</script>
</html>