<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="utf-8"/>
<title>商品列表-用户中心</title>
<meta name="keywords"  content="DeathGhost" />
<meta name="description" content="DeathGhost" />
<meta name="author" content="DeathGhost,deathghost@deathghost.cn">
<link rel="icon" th:href="@{/images/icon/favicon.ico}" type="image/x-icon">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" /><script th:src="@{js/html5.js}"></script>
<script th:src="@{/js/jquery.js}"></script>
<script>
$(document).ready(function(){
  $("nav .indexAsideNav").hide();
  $("nav .category").mouseover(function(){
	  $(".asideNav").slideDown();
	  });
  $("nav .asideNav").mouseleave(function(){
	  $(".asideNav").slideUp();
	  });
});
</script>
</head>
<body>
<!--header-->
<header>
  <!--topNavBg-->
  <div class="topNavBg">
   <div class="wrap">
    <ul class="topLtNav">
        <li><span  class="obviousText">米乐宠物商城后台管理</span></li>
    </ul>
   <!--topRightNav-->
    <ul class="topRtNav">
     <li><a href="union_login.html">亲爱的管理员，欢迎您！</a></li>
    </ul>
   </div>
  </div>

  <!--nav-->
  <nav>
 <ul class="wrap navList">
 <li class="category">
 <a>后台管理中心</a>
 </li>
 <li>
 <a href="index.html" class="active">管理</a>
 </li>

 </ul>
 </nav>

 </header>
 <script>
 $(document).ready(function(){
   //测试效果，程序对接如需变动重新编辑
   $(".switchNav li").click(function(){
     $(this).addClass("active").siblings().removeClass("active");
     });
   $("#chanpin").click(function(){
     $(".inputWrap input[type='text']").attr("placeholder","输入产品关键词或货号");
     });
   $("#shangjia").click(function(){
     $(".inputWrap input[type='text']").attr("placeholder","输入商家店铺名");
     });
   $("#zixun").click(function(){
     $(".inputWrap input[type='text']").attr("placeholder","输入关键词查找文章内容");
     });
   $("#wenku").click(function(){
     $(".inputWrap input[type='text']").attr("placeholder","输入关键词查找文库内容");
     });
   });

 </script>

<section class="wrap user_center_wrap">
 <!--左侧导航-->
  <aside class="user_aside_nav">

  <dl>
   <dt>商家管理中心</dt>
   <dd><a href="seller_product_list.html">商品管理</a></dd>
   <dd><a href="seller_order_list.html">订单管理</a></dd>
   <dd><a href="seller_order_list.html">用户管理</a></dd>
  </dl>
 </aside>
 <!--右侧：内容区域-->
 <div class="user_rt_cont">
  <div class="top_title">
   <strong>发布/编辑/更新商品</strong>
  </div>
  <table class="order_table">
   <tr>
    <td width="90" align="right">产品分类选择：</td>
    <td>
    <select class="select" id="category">
     <optgroup label="狗狗专区">
      <option value ="1">狗粮</option>
      <option value ="2">玩具</option>
      <option value ="3">装备</option>
      <option value ="4">医疗</option>
      <option value ="5">清洁</option>
     </optgroup>
     <optgroup label="猫猫专区">
       <option value ="6">狗粮</option>
       <option value ="7">玩具</option>
       <option value ="8">装备</option>
       <option value ="9">医疗</option>
       <option value ="10">清洁</option>
     </optgroup>
    </select>
    </td>
   </tr>
   <tr>
    <td width="80" align="right">产品名称：</td>
    <td>
    <input type="text" class="textbox textbox_295" placeholder="输入产品名称" id="title"/>
    <mark class="tips_errors">这里是提示性或错误信息</mark>
    </td>
   </tr>
   <tr>
       <td width="80" align="right">品牌：</td>
       <td>
       <input type="text" class="textbox textbox_295" placeholder="输入产品品牌" id="brand"/>
       <mark class="tips_errors">这里是提示性或错误信息</mark>
       </td>
      </tr>
   <tr>
    <td width="80" align="right">库存数量：</td>title
    <td>
    <input type="text" class="textbox" placeholder="总库存数量" id="stock"/>
    </td>
   </tr>
   <tr>
    <td width="80" align="right">市场售价：</td>
    <td>
    <input type="text" class="textbox" placeholder="0.00" id="price"/>
    <mark class="tips_errors">这里是提示性或错误信息</mark>
    </td>
   </tr>
   <tr>
    <td width="80" align="right">图片：</td>
    <td>
    <input type="text" class="textbox textbox_225" id="imgUrl"/>
    <mark class="tips_errors">这里是提示性或错误信息</mark>
    </td>
   </tr>
   <tr>
    <td width="80" align="right">商品描述：</td>
    <td>
    <textarea placeholder="这里放置个文本编辑器可以编辑的...支持HTML输出的..." class="textarea" style="width:500px;height:100px;" id="description"></textarea>
    </td>
   </tr>
   <tr>
    <td width="80" align="right"></td>
    <td>
    <input type="button" value="更新保存" class="group_btn" id="create"/>
    </td>
   </tr>
  </table>
 </div>
</section>

<!--footer-->
<footer>
 <!--help-->
 <ul class="wrap help">
  <li>
   <dl>
    <dt>消费者保障</dt>
    <dd><a href="article_read.html">保障范围</a></dd>
    <dd><a href="article_read.html">退换货流程</a></dd>
    <dd><a href="article_read.html">服务中心</a></dd>
    <dd><a href="article_read.html">更多服务特色</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>新手上路</dt>
    <dd><a href="article_read.html">保障范围</a></dd>
    <dd><a href="article_read.html">退换货流程</a></dd>
    <dd><a href="article_read.html">服务中心</a></dd>
    <dd><a href="article_read.html">更多服务特色</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>付款方式</dt>
    <dd><a href="article_read.html">保障范围</a></dd>
    <dd><a href="article_read.html">退换货流程</a></dd>
    <dd><a href="article_read.html">服务中心</a></dd>
    <dd><a href="article_read.html">更多服务特色</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>服务保障</dt>
    <dd><a href="article_read.html">保障范围</a></dd>
    <dd><a href="article_read.html">退换货流程</a></dd>
    <dd><a href="article_read.html">服务中心</a></dd>
    <dd><a href="article_read.html">更多服务特色</a></dd>
   </dl>
  </li>
 </ul>
  <div class="wrap btmInfor" align="center">
   <address>© 2019 版权所有 网络文化经营许可证：浙网文[2013]***-027号 增值电信业务经营许可证：浙B2-200***24-1 信息网络传播视听节目许可证：1109***4号</address>
   </br>
   <address>联系地址：湖北省十堰市</address>
  </div>
</footer>
</body>

<script>
	jQuery(document).ready(function(){
		//绑定opt的clic事件用于向后端发送获取手机验证码的请求
		$("#create").on("click",function(){
		    var category = $("#category").val();
			var title = $("#title").val();
			var brand = $("#brand").val();
			var description = $("#description").val();
			var price = $("#price").val();
			var stock = $("#stock").val();
			var imgUrl = $("#imgUrl").val();


			if(title == null||title == ""){
				alert("商品名不能为空");
				return false;
			}
			if(description == null||description == ""){
				alert("描述不能为空");
				return false;
			}
			if(imgUrl == null||imgUrl == ""){
				alert("图片url不能为空");
				return false;
			}
			if(price == null||price == ""){
				alert("价格不能为空");
				return false;
			}
			if(stock == null||stock == ""){
				alert("价格不能为空");
				return false;
			}


			$.ajax({
				type:"POST",
				contentType:"application/x-www-form-urlencoded",
				url:"http://localhost:8090/petstore/manage/item/doCreateItem",
				data:{
					"title":$("#title").val(),
					"description":description,
					"brand":brand,
					"category":category,
					"price":price,
					"stock":stock,
					"imgUrl":imgUrl,
				},
				xhrFields:{withCredentials:true},
				success:function(data){
					if(data.status == "success"){
						alert("创建成功");
						window.location.href="/petstore/manage/item/list"
					}else{
						alert("创建失败"+data.data.errMsg);
					}
				},
				error:function(data){
					alert("创建失败"+data.responseTex);
				}
			});
			return false;
		});
	});
</script>
</html>
